*__pycache__*
base_ckpt*
experiments*
model/pretrained_checkpoints*
support_data.pth
data_paths.yaml
script_tree.txt
*ipynb*
dataset/meta_info/taskonomy/class_dict_all.pth
dataset/meta_info/taskonomy/class_dict.pth
dataset/meta_info/taskonomy/class_perm_finetune_2_nb:2.pth
dataset/meta_info/taskonomy/class_perm_finetune_2.pth
dataset/meta_info/taskonomy/class_perm_finetune_3_nb:2.pth
dataset/meta_info/taskonomy/class_perm_finetune_3.pth
dataset/meta_info/taskonomy/class_perm_finetune_4_nb:2.pth
dataset/meta_info/taskonomy/class_perm_finetune_4.pth
dataset/meta_info/taskonomy/class_perm_finetune_5_nb:2.pth
dataset/meta_info/taskonomy/class_perm_finetune_5.pth
dataset/meta_info/taskonomy/class_perm_finetune_6_nb:2.pth
dataset/meta_info/taskonomy/class_perm_finetune_6.pth
dataset/meta_info/taskonomy/class_perm_finetune_8_nb:2.pth
dataset/meta_info/taskonomy/class_perm_finetune_8.pth
dataset/meta_info/taskonomy/class_perm_finetune_9_nb:2.pth
dataset/meta_info/taskonomy/class_perm_finetune_9.pth
dataset/meta_info/taskonomy/class_perm_finetune_10_nb:2.pth
dataset/meta_info/taskonomy/class_perm_finetune_10.pth
dataset/meta_info/taskonomy/class_perm_finetune_12_nb:2.pth
dataset/meta_info/taskonomy/class_perm_finetune_12.pth
dataset/meta_info/taskonomy/class_perm_finetune_13_nb:2.pth
dataset/meta_info/taskonomy/class_perm_finetune_13.pth
dataset/meta_info/taskonomy/class_perm_finetune_15_nb:2.pth
dataset/meta_info/taskonomy/class_perm_finetune_15.pth
dataset/meta_info/taskonomy/class_perm_finetune_16_nb:2.pth
dataset/meta_info/taskonomy/class_perm_finetune_16.pth
dataset/meta_info/taskonomy/context_classes.json
dataset/meta_info/taskonomy/depth_quantiles.pth
dataset/meta_info/taskonomy/edge_params.pth
dataset/meta_info/taskonomy/edge_thresholds.pth
dataset/meta_info/taskonomy/idxs_perm_all.pth
dataset/meta_info/taskonomy/idxs_perm_classes.pth
dataset/meta_info/taskonomy/idxs_perm_finetune.pth
dataset/meta_info/taskonomy/imagenet_classes.yaml
dataset/meta_info/taskonomy/imagenet_selected_classes.txt
dataset/meta_info/taskonomy/img_files.pth
dataset/meta_info/taskonomy/nyu_classes.json
dataset/meta_info/taskonomy/places_class_names.txt
dataset/meta_info/taskonomy/room_layout_range.pth
